<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        function allownums(value) {
            var num = parseInt(value, 10);
            if (num < 0 || num > 6)
                alert('invalid')
        }</script>

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active" style="padding-right:1em"><a href="#">Add Review</a>
                    </li>
                    <li role="presentation" class="active" style="padding-right:1em"><a href="/showAddItem">Add to
                            Bucket List</a>
                    </li>
                    <li role="presentation" style="padding-right:1em"><a href="/userHome">User Home</a>
                    </li>
                    <li role="presentation" style="padding-right:1em"><a href="/logout">Logout</a>
                    </li>

                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addWish">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Create Your Review</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Movie name</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="movie name"
                                class="form-control input-md">
                        </div>
                    </div>

                    <!-- Rating -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtRate">Rating(1-5)</label>
                        <div class="col-md-4">
                            <input id="txtRate" name="inputRate" type="text" placeholder="Rating"
                                class="form-control input-md" id='numonly' onblur='allownums(this.value)'>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Review</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit"
                                value="Publish" />
                        </div>
                    </div>

                </fieldset>
            </form>

        </section>


    </div>
</body>

</html>